@import url(//db.onlinewebfonts.com/c/b1edfa746f416280b3502ba39df2c3ae?family=Canela);
   @font-face {font-family: "Canela"; 
    src: url("//db.onlinewebfonts.com/t/b1edfa746f416280b3502ba39df2c3ae.eot"); 
    src: url("//db.onlinewebfonts.com/t/b1edfa746f416280b3502ba39df2c3ae.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/b1edfa746f416280b3502ba39df2c3ae.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/b1edfa746f416280b3502ba39df2c3ae.woff") format("woff"), url("//db.onlinewebfonts.com/t/b1edfa746f416280b3502ba39df2c3ae.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/b1edfa746f416280b3502ba39df2c3ae.svg#Canela") format("svg"); }
   

   html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
   body{line-height:1}
   article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
   nav ul{list-style:none}
   blockquote,q{quotes:none}
   blockquote:before,blockquote:after,q:before,q:after{content:none}
   a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
   mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
   del{text-decoration:line-through}
   abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
   table{border-collapse:collapse;border-spacing:0}
   hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
   input,select{vertical-align:middle}
   li{list-style:none}
  
   /* =============================================================================
      My CSS
      ========================================================================== */
   
   /* ---- base ---- */
html{
  overflow-x:hidden;
}
  
   *{
    margin: 0;
    padding: 0;
    
}



      :root {
          --bg: #EFE7E3;
          --text: #6C4C35;
          --ctext: #FFFFFF;
          --card1: #6CBCB1;
          --card2: #90B8D2;
          --card3: #DFB468;
          --ftext: #000000;
          --bg1: #D6B89B;
          --box1: #F6DDB5;
          --box2: #E3A18B;
          --case1: #90b8d2;
      }

      .xyz {
          font-style: bold;
          font-size: 2.4vw;
          color: #6C4C35;
          font-family: 'Playfair Display', sans-serif;
        

      }

      .xyz:hover {
          color: burlywood;
      }
      .logo{
        font-size: 3.5vw; color: #6C4C35; opacity: 100; font-family:  'Playfair Display' , sans-serif; font-weight: lighter; margin-left: 4%;
      }



   
   html,body{ 
     width:100%;
     height:100%;
     background:#EFE7E3;
   }

   html{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  html-element {
   font-family: 'canela', Helvetica, Arial, sans-serif;
 }

  body{
   margin: 0;
   font-family: 'Roboto Slab', sans-serif;
   height: 100%;
   
  }
  
  canvas{
    display:block;
    vertical-align:bottom;
  }


  .mainpic{
    height: 90vh; width: 70vh; margin-top: 20vh; margin-left: 9.5vw;
    box-shadow: 5px 5px #9A8383;
  }
  
  .shouryaname{
    color:black;  
    font-family:'Canela', serif;  
    font-size:  3.5vw; margin-top: 15vw;
     margin-left: -11.5vw;
      padding: 0px 0px; z-index: 1;
  }
  
  .shouryahin{
    color:black; 
     font-family:'Montserrat' , open sans;  
     font-size:  1.4vw; 
     margin-top: 0.8vh; 
     margin-left: 2.8vw;
      padding: 0px 0px; z-index: 1;
  }
  
  .brownstrip{
    background-color: #6C4C35;
     height: 30vw; width: 100%;  
     margin-top: 8.5vw; 
     z-index: -1; opacity: 87%;
  }

  .fa {
    padding: 1vw;
    font-size: 3vw;
   
    text-align: center;
    text-decoration: none;
    border-radius: 18%;
    margin-top: 0vh;
  }

 
  
  
  .fa:hover {
    opacity: 1;
    color: burlywood;
  }
  
  .fa-facebook {
  
  
    color: #6C4C35;
  }
  
  .fa-linkedin {
  
  
    color: #6C4C35;
  }
  
  .fa-instagram {
  
    color: #6C4C35;
  }
  
  .fa-medium {
  
    color: #6C4C35;
  }

  
.bgline{
    margin-left: 35%;
     width:30%;
     margin-block-end: 35%; 
     margin-top: 0.5%; 
     border: 5px solid #6C4C35; 
     opacity: 100; 
     z-index: 1;
     margin-bottom: 5vh;
  }



.me2{
    height: 33vw; transform: rotate(-3deg); margin-left: 8vw;
}


.mebio{
    margin-left: 0vw; margin-top: 3vw;  font-size: 1.3vw; font-family:'Karla' , sans-serif;  color: #222222; width: 38vw; line-height: 1.4;
}


.skillstack{
    font-size: 3vw; font-family:'Canela', serif; color: #000000; margin-left: 4vw;
}

.quote{
    margin-left: 10vw; margin-top: -20vw; font-size: 5vw; font-family:'Canela', serif; width: 50vw;
}
.me1{
    margin-left: 2vw ; height: 37vw; margin-top: -70vh; transform: rotate(10deg);
}

#skilline{
    width: 580px; margin-left: 4vw; margin-top: 2px; size: 10vw; background-color: #6C4C35; height: 0.2vw !important; 
}

.skillset{
    margin-left: -3vw; margin-top: -5vw;
}


.dimensions{
    height: 40vw;
}


 


@media(max-width: 1128px){
  .mainpic{
    height: 77vh; width: 60vh; margin-top: 20vh; margin-left: 7.5vw;
    box-shadow: 3px 3px #9A8383;
  }
  
  .shouryaname{
    color:black;  
    font-family:'Canela', serif;  
    font-size:  3.5vw; margin-top: 18vw;
     margin-left: -8.5vw;
      padding: 0px 0px; z-index: 1;
  }
  
  .shouryahin{
    color:black; 
     font-family:'Montserrat' , open sans;  
     font-size:  1.6vw; 
     margin-top: 0.8vh; 
     margin-left: 3.8vw;
      padding: 0px 0px; z-index: 1;
  }
  
  .brownstrip{
    background-color: #6C4C35;
     height: 30vw; width: 100%;  
     margin-top: 6.5vw; 
     z-index: -1; opacity: 87%;
  }

 

  
.bgline{
    margin-left: 35%;
     width:30%;
     margin-block-end: 35%; 
     margin-top: 0.5%; 
     border: 5px solid #6C4C35; 
     opacity: 100; 
     z-index: 1;
     margin-bottom: 5vh;
  }



.me2{
    height: 33vw; transform: rotate(-3deg); margin-left: 8vw;
}


.mebio{
    margin-left: 4vw; margin-top: 3vw;  font-size: 1.6vw; font-family:'Karla' , sans-serif;  color: #222222; width: 38vw; line-height: 1.4;
}


.skillstack{
    font-size: 3vw; font-family:'Canela', serif; color: #000000; margin-left: 4vw;
}

.quote{
    margin-left: 8vw; margin-top: -20vw; font-size: 6vw; font-family:'Canela', serif; width: 60vw;
}
.me1{
    margin-left: 5vw ; height: 39vw; margin-top: -45vh; transform: rotate(10deg);
}

.skilline{
    width: 580px; margin-left: 4vw; margin-top: 2px; size: 10vw; background-color: #6C4C35;
}

.skillset{
    margin-left: -3vw; margin-top: -5vw;
}


.dimensions{
    height: 40vw;
}
.remove{
  display: none;
  visibility: hidden;
}

.fa {
  padding: 1vw;
  font-size: 3vw;
 
  text-align: center;
  text-decoration: none;
  border-radius: 18%;
  margin-top: 0vh;
}

}

 
    
  
    












@media(max-width: 850px) {
  .mainpic{
    height: 115vw; width: 86vw; margin-top: 12vh; margin-left: 7vw;
    box-shadow: 1px 1px #9A8383;
  }

.button{
  margin-left: 67%;
}
.bg{
  background-image: url("fff.png");
  background-size: fit;
  height:55%;
  background-attachment: fixed;

}




.logo{
  font-size: 12vw;
}
.custom-toggler .navbar-toggler-icon
{
  font-size: 3.5vw;
}
.bgline{
  margin-left: 25%;
 width:50%;
 margin-block-end: 25%;
}

.fa{
  font-size: 6vw;
  
}

.web{
  display:none;
}
.distancebetweencontainer{
  margin-top: 5vh;
}

.textdiv{
  text-align: unset;
 }
 .p2{
  
  margin-left: 8vw;
  font-size: 2.9vw;
  width: 87vw;
  margin-top: 0vh;
  text-align: unset;

  
  padding-right: 0.8vw;
}
.p1_2{
  margin-left: 8vw;
  margin-top: -0.5vh;

  font-size: 3vw;
}
.fa{
  margin-top: 4vh;
}
.bgline{
  border: 3px;
}

.distancebetweencontainer1{
  margin-top: 5vh;
}
.xyz{
  margin-right: 0vw;
  margin-left: 0vw;
}

.shouryaname{
    color:black;  
    font-family:'Canela', serif;  
    font-size:  8.5vw; margin-top: 5vw;
     margin-left: 13vw;
      padding: 0px 0px; z-index: 1;
  }
  
  .shouryahin{
    color:black; 
     font-family:'canela' , serif;  
     font-size:  5vw; 
     margin-top: -0vw; 
     margin-left: 65vw;
      padding: 0px 0px; z-index: 1;
  }

  .mebio{
    margin-left: 12vw; margin-top: 3vw;  font-size: 3.8vw; font-family:'Karla' , sans-serif;  color: #222222; width: 80vw; line-height: 1.4;
    text-align: center;
}

.remove{
    display: none;
    visibility: hidden;
}

.me1{visibility: hidden;}

.quote{
    font-size: 8.7vw; font-family:'Canela', serif; width: 90vw;
    margin-top: -29vw;
    margin-left: 9.5vw;
}

.brownstrip{
    background-color: #6C4C35;
     height: 40vw; width: 100%;  
     margin-top: 8.5vw; 
     z-index: -1; opacity: 87%;
  }

  .skillstack{
    font-size: 7.5vw; font-family:'Canela', serif; color: #000000; margin-left: -46vw; margin-top: 4vw;
}

.skillset{
  margin-left: -48vw; margin-top: -16vw;
}


.dimensions{
  height: 110vw;
}


.me2{
height: 100vw; transform: rotate(4deg); margin-left: -0vw; margin-top: 95vw;

}


}












  @media(max-width :520px){

    .mainpic{
        height: 115vw; width: 86vw; margin-top: 12vh; margin-left: 7vw;
        box-shadow: 1px 1px #9A8383;
      }

    .button{
      margin-left: 67%;
    }
    .bg{
      background-image: url("fff.png");
      background-size: fit;
      height:55%;
      background-attachment: fixed;
    
    }
    
    
    
    
    .logo{
      font-size: 12vw;
    }
    .custom-toggler .navbar-toggler-icon
    {
      font-size: 3.5vw;
    }
    .bgline{
      margin-left: 25%;
     width:50%;
     margin-block-end: 25%;
    }
  
    .fa{
      font-size: 6vw;
      
    }
  
    .web{
      display:none;
    }
    .distancebetweencontainer{
      margin-top: 5vh;
    }
  
    .textdiv{
      text-align: unset;
     }
     .p2{
      
      margin-left: 8vw;
      font-size: 2.9vw;
      width: 87vw;
      margin-top: 0vh;
      text-align: unset;
    
      
      padding-right: 0.8vw;
    }
    .p1_2{
      margin-left: 8vw;
      margin-top: -0.5vh;
    
      font-size: 3vw;
    }
    .fa{
      margin-top: 4vh;
    }
    .bgline{
      border: 3px;
    }
  
    .distancebetweencontainer1{
      margin-top: 5vh;
    }
    .xyz{
      margin-right: 0vw;
      margin-left: 0vw;
    }

    .shouryaname{
        color:black;  
        font-family:'Canela', serif;  
        font-size:  8.5vw; margin-top: 5vw;
         margin-left: 13vw;
          padding: 0px 0px; z-index: 1;
      }
      
      .shouryahin{
        color:black; 
         font-family:'canela' , serif;  
         font-size:  5vw; 
         margin-top: -0vw; 
         margin-left: 65vw;
          padding: 0px 0px; z-index: 1;
      }

      .mebio{
        margin-left: 12vw; margin-top: 3vw;  font-size: 3.8vw; font-family:'Karla' , sans-serif;  color: #222222; width: 80vw; line-height: 1.4;
        text-align: center;
    }

    .remove{
        display: none;
        visibility: hidden;
    }

    .me1{visibility: hidden;}

    .quote{
        font-size: 8.7vw; font-family:'Canela', serif; width: 90vw;
        margin-top: -29vw;
        margin-left: 9.5vw;
    }

    .brownstrip{
        background-color: #6C4C35;
         height: 40vw; width: 100%;  
         margin-top: 8.5vw; 
         z-index: -1; opacity: 87%;
      }

      .skillstack{
        font-size: 7.5vw; font-family:'Canela', serif; color: #000000; margin-left: -46vw;
    }

    .skillset{
      margin-left: -51vw; margin-top: -16vw;
  }
  
  
  .dimensions{
      height: 110vw;
  }


  .me2{
    height: 125vw; transform: rotate(12deg); margin-left: -9vw; margin-top: 95vw;

}
}





@media(max-width :375px){

  
    .mainpic{
        height: 115vw; width: 86vw; margin-top: 12vh; margin-left: 7vw;
        box-shadow: 1px 1px #9A8383;
      }

    .button{
      margin-left: 67%;
    }
    .bg{
      background-image: url("fff.png");
      background-size: fit;
      height:55%;
      background-attachment: fixed;
    
    }
    
    
    
    
    .logo{
      font-size: 12vw;
    }
    .custom-toggler .navbar-toggler-icon
    {
      font-size: 3.5vw;
    }
    .bgline{
      margin-left: 25%;
     width:50%;
     margin-block-end: 25%;
    }
  
    .fa{
      font-size: 6vw;
      
    }
  
    .web{
      display:none;
    }
    .distancebetweencontainer{
      margin-top: 5vh;
    }
  
    .textdiv{
      text-align: unset;
     }
     .p2{
      
      margin-left: 8vw;
      font-size: 2.9vw;
      width: 87vw;
      margin-top: 0vh;
      text-align: unset;
    
      
      padding-right: 0.8vw;
    }
    .p1_2{
      margin-left: 8vw;
      margin-top: -0.5vh;
    
      font-size: 3vw;
    }
    .fa{
      margin-top: 4vh;
    }
    .bgline{
      border: 3px;
    }
  
    .distancebetweencontainer1{
      margin-top: 5vh;
    }
    .xyz{
      margin-right: 0vw;
      margin-left: 0vw;
    }

    .shouryaname{
        color:black;  
        font-family:'Canela', serif;  
        font-size:  8.5vw; margin-top: 5vw;
         margin-left: 13vw;
          padding: 0px 0px; z-index: 1;
      }
      
      .shouryahin{
        color:black; 
         font-family:'canela' , serif;  
         font-size:  5vw; 
         margin-top: -0vw; 
         margin-left: 65vw;
          padding: 0px 0px; z-index: 1;
      }

      .mebio{
        margin-left: 12vw; margin-top: 3vw;  font-size: 3.8vw; font-family:'Karla' , sans-serif;  color: #222222; width: 80vw; line-height: 1.4;
        text-align: center;
    }

    .remove{
        display: none;
        visibility: hidden;
    }

    .me1{visibility: hidden;}

    .quote{
        font-size: 8vw; font-family:'Canela', serif; width: 80vw;
        margin-top: -25vw;
        margin-left: 11vw;
    }

    .brownstrip{
        background-color: #6C4C35;
         height: 35vw; width: 100%;  
         margin-top: 8.5vw; 
         z-index: -1; opacity: 87%;
      }

      .skillstack{
        font-size: 7.5vw; font-family:'Canela', serif; color: #000000; margin-left: -46vw;
    }

    .skillset{
      margin-left: -51vw; margin-top: -16vw;
  }
  
  
  .dimensions{
      height: 110vw;
  }


  .me2{
    height: 125vw; transform: rotate(12deg); margin-left: -9vw; margin-top: 95vw;

}
}